<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :class =>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, autocomplete: "email", :class =>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <em>(No mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class =>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirme sua senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class =>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Criar", :class =>"form-control btn btn-outline-dark" %>
  </div>
<% end %>
