<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="container">
      <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">

          <%= user_status(@user) %>

        </span>

        <%= link_to "Home", root_path, :class =>"navbar-brand text-light" %>

      </nav>

      <%= render partial: 'flash/flash', flash: flash %>

      <%= yield %>
    </div>
  </body>
</html>
